<div class="">
    <form
            class="d-flex flex-row border border-light "
            #searchShows="ngForm" (ngSubmit)="onSubmit()">

        <input
                type="text"
                placeholder="Search for TV Shows"
                class="form-control form-control-sm text-white bg-dark flex-grow-1 border-0"
                required
                name="shows"
                [(ngModel)]="searchValue"
                #shows="ngModel"/>

        <button
                type="submit"
                class="btn-success"
                title="Clear Input"
                [disabled]="!searchShows.form.valid">
          <span class="d-flex justify-content-center">
              <fa-icon [icon]="faSearch"></fa-icon>
          </span>
        </button>



    </form>
    <div [hidden]="shows.valid || shows.pristine"
         class="alert bg-transparent text-danger small">
        Description is required
    </div>
</div>

