ul.pagination {
  li.page-item{
    a.page-link {
      background: #000000;
    }
  }
}

.logo-title-caption {
  top: 15px;
  left: 15px;
  color: #ccffcc;
}

.logo-caption {
  bottom: 15px;
  left: 15px;
  color: #ccffcc;
}
